@media screen and (max-width: 5000px) and (min-width: 801px) {
  body {
    background-image: url("backbig.jpg");
    background-size: cover;
  }
}

@media screen and (max-width: 5000px) and (min-width: 801px) {
  color: rgb(52, 141, 219);
}
