@media screen and (max-width: 5000px) and (min-width: 801px) {
  body {
    background-image: url("cow.png");
    background-size: cover;
    background-color: #111;
  }
}

@media screen and (max-width: 5000px) and (min-width: 801px) {
  color: rgb(52, 141, 219);
}
