@media screen and (max-width: 800px) and (min-width: 135px) {
  body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 350px;
    width: 350px;
    border: none;
  }

  button span {
    display: none;
  }
}

@media screen and (max-width: 5000px) and (min-width: 801px) {
  body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    background-color: transparent;
    border: none;
  }
}
