@media screen and (max-width: 800px) and (min-width: 151px) {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 5000px) and (min-width: 801px) {
  display: block;
  max-width: 100%;
  height: auto;
}
