/****** Parallax Styling *****/

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
  fixed = parallax
  scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("cow.jpg");
  min-height: 100%;
}
.pimg2 {
  background-image: url("castelo.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("baia.jpeg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: #706d6d;
  color: #666;
}
.section-dark {
  background-color: aquamarine;
  color: #ba8b71;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  line-height: 70px;
}

.logo {
  background-color: transparent;
  width: 200px;
  height: 200px;
  text-align: left;
  margin: 0 auto;
  left: 50%;
  display: grid;
}

.row {
  background-color: #111;
  text-align: center;
}

.col-centered {
  text-align: left;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -50px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.push-to-bottom {
  text-align: left;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
  left: 60%;
  margin-left: -50px;
}

.centeredLogin {
  text-align: center;
  font-family: "PT Serif", serif;
  color: #ba8b71;

  text-decoration: none;
  font-size: 175%;
  font-weight: bold;

  height: 100%;
  margin: 0;
  padding: 1em;
}
