@media screen and (max-width: 800px) {
  body {
    /*background-color: #6c5b7b;*/
    background-image: url("http://localhost:3000/back.jpg");
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 5000px) and (min-width: 801px) {
  body {
    /*background-color: #355c7d;*/
    background-image: url("http://localhost:3000/back.jpg");
  }
}

.parallax-container {
  height: 700;
}

#language-icon {
  size: 100px, 100px;
}

.col-centered {
  text-align: left;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
  left: 40%;
  margin-left: -50px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.push-to-bottom {
  text-align: left;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
  left: 60%;
  margin-left: -50px;
}

.centeredLogin {
  text-align: center;
  font-family: "PT Serif", serif;
  color: #ba8b71;

  text-decoration: none;
  font-size: 175%;
  font-weight: bold;

  height: 100%;
  margin: 0;
  padding: 1em;
}
