
<template name="checked">
        {{#if checkbox}}
        
        {{/if}}
      </template>


<template name="visited">

        {{#if hideCheckbox}} 
        <img style="height: 40px; width:40px" src="http://localhost:3000/visited.png" /> 
        {{else}}
        <form id="hideCheckbox" action="">
          <input id="visitedPlace" class="visitedPlace" type="checkbox" name="visitedPlace" value="Yes">Mark as visited
          <br>
        </form>
        {{/if}}
      
      
      
      
      </template>