<template name="commentSection">
        <form class="addComment">
            <p>    
              <input type="text" name="userComment">
            </p> 
            <p>
              <input href="#" type="submit" value="{{language.addComment}}">
            </p>
          </form>
    
          <table>
            <tr>
              <th>{{language.comments}}</th>
            </tr>
            {{#each showPlaceComments}}
            <tr>
            <td>
              {{displayUserName}} {{this}}
            </td>
          </tr>
            {{/each}}
          </table>
    </template>