<head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="main.css">
      
      </head>
      
      
      
      <template name="renderpage">
      
        {{id}}
      
        
            {{> header}}

          <div id="row">
             
          <div class="col-xs-3">
            {{> canCheck}}
          </div>
          <div class="col-xs-3">
            {{> rating}}
          </div>

          {{> score}}

          </div>
      
      
    
      
        <div class="col-3 .text-truncate">
          <div class="container" style="background-color:white; border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
              <p>
            
              
              {{> title}}     {{> visited}}</p>
           
          </div>
        </div>
      
        <div class="col-3 .text-truncate">
          <div class="container" style="background-color:white; border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
      
      
          </div>
        </div>
      
        {{> description}} 
        
        {{> images}}
      
        <br/>
        <p>
        {{> commentSection}}
        </p>
      </template>