<head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="main.css">
      
      </head>
      
      
      
      <template name="renderpage">
      
        {{id}}
      
        
            {{> header}}

          <div id="row">
             
         
          <div class="col-xs-8">
            {{> rating}}
          </div>
          
          <div class="col-xs-4">
              {{> canCheck}}
            </div>

          {{> score}}

          </div>
      
      
    
          <div class="row">
        <div class="col-3 .text-truncate">
          <div class="container" style="background-color:white; border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
              <p>
            
              
              {{> title}} </p>
           
          </div>
        </div>

      </div>

        
      
        <div class="col-3 .text-truncate">
          <div class="container" style="background-color:rgba(255, 255, 255, 0.473); border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
      
      
          </div>
        </div>
        <div class="text" style="background-color:rgba(255, 255, 255, 0.514); border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
        {{> description}} 
      </div>
     
    
      <br/>

      <div>
          {{> images}}

      </div>

      <div>
    
      <p style="background-color:rgba(255, 255, 255, 0.473); border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
      {{> commentSection}}
      
        </p>
      </div>
      

      </template>

     