<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="counter.css">
</head>

<template name="counter">

    {{> header}}

 <div style="background-color:rgba(255, 255, 255, 0.514); border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
<p>
    {{language.welcome}}
</p>
    {{> cowcounter}}
</div>  

</template>

<template name="cowcounter">
   
    <div id="row" style="background-color: transparent;">
        <div class="btn btn-xs button-cols" >
  <button id="cowbutton" >
      
      <img src="http://localhost:3000/CowLogoCounter.png" class="img-responsive"  />
 
  </button>
  </div>
  </div>


  {{language.first}} {{counter}} {{language.last}}

</template>