<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="counter.css">
</head>

<template name="counter">


  


    Let's count some cows!

    {{> cowcounter}}
  

</template>

<template name="cowcounter">
   
    <div id="row" style="background-color: transparent;">
        <div class="btn btn-xs button-cols" >
  <button >
      
      <img src="http://localhost:3000/CowLogoCounter.png" class="img-responsive"  />
 
  </button>
  </div>
  </div>


  You've pressed the button {{counter}} times.

</template>