<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="header.css">
</head>


<template name="header">

 

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
     <div class="pull-left" style="color: white">

        {{> displayUserName}}

         <a href="#" type="text" class="logout">
            <img style="height: 40px; width: 40px;" src="http://localhost:3000/logout.png" />
          </a>

          
          {{> goMap}}
          {{> goCounter}}
          {{> checks}}

          <a type="button" class="portuguese">
              <img id="ptsmall" style="height:40px; width: 40px" src="http://localhost:3000/PT-Lg_icon.png" />
            </a>
  
            <a type="button" class="english">
              <img style="height:40px; width: 40px" src="http://localhost:3000/EN-Lg_icon.png" />
            </a>
  

          <p>
            
          </p>

      
        </div>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 

  

 

</template>

<template name="displayUserName">
{{showName}}
</template>

<template name="goMap">

    <a href="/islandmap"><img src="http://localhost:3000/map.png" height="40" width="40"/>
    </a>

</template>

<template name="goCounter">

    <a type="button" class="counter">
        <img src="http://localhost:3000/cow_counter.png" height="40" width="40"/>
    </a>
    {{showCounterNumber}}

</template>

<template name="checks">

    <a type="button" class="achievements">
        <img src="http://localhost:3000/Award.png" height="40" width="40"/>
    </a>
    {{showChecksNumber}}

</template>
