<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="header.css">
</head>


<template name="header">
    <nav class="navbar">


  <a type="button" class="portuguese">
    <img src="http://localhost:3000/PT.png" />
  </a>



  <a type="button" class="english">
    <img src="http://localhost:3000/EN.png" />
  </a>

  <a href="#" type="text" class="logout">
      Log Out
    </a>
 

</nav>

  {{> displayUserName}}

  {{> cowCounter}}

</template>

<template name="displayUserName">
{{showName}}
</template>

<template name="cowCounter">
(Cow Counter - to update)
</template>
