<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="header.css">
</head>


<template name="header">

  <nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
     <div class="pull-left">
          <a type="button" class="portuguese">
            <img id="ptsmall" src="http://localhost:3000/PT.png" />
          </a>

          <a type="button" class="english">
            <img src="http://localhost:3000/EN.png" />
          </a>

          <a href="#" type="text" class="logout">
            <img src="http://localhost:3000/PTshiny.png" />
          </a>

          {{> displayUserName}}

          {{> cowCounter}}
        </div>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 


  </nav>

  {{> displayUserName}}
  {{> goMap}}
  {{> goCounter}}
  {{> checks}}

</template>

<template name="displayUserName">
{{showName}}
</template>

<template name="goMap">

    <a href="/islandmap">MAP</a>

</template>

<template name="goCounter">

    <a type="button" class="counter">
        <img src="http://localhost:3000/cow.jpg" height="30" width="30"/>
    </a>
    {{showCounterNumber}}

</template>

<template name="checks">

    <a type="button" class="achievements">
        <img src="http://localhost:3000/visited.png" height="30" width="30"/>
    </a>
    {{showChecksNumber}}

</template>
