<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<template name="islandmap">


  <div class="row">


    {{> header}}

  </div>

  <div class="container centeredLogin">
    <div class="vertical-center">

      MAP

      <style>
        #map {
          height: 400px;
          width: 100%;
        }
      </style>

      <h3>My Google Maps Demo</h3>

      {{> filter}}

      <div id="map"></div>

      <div id="mapDisplay">

        <script>
        
          {{ mapMarker }}
        </script>

      </div>

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFesdr-q5keaEXasmMOJCphcrucwBWYH8&callback=initMap">
      </script>

    </div>
  </div>
</template>

<template name="filter">
    
  <form action="">
    <input class="allChecked" type="checkbox" name="allChecked" value="Yes">Uncheck all
    <br>
    <input id="historicMonuments" class="historicMonuments" checked="checked" type="checkbox" name="historicMonuments" value="Yes"><a href="/islandmap/historicmonuments">Historic Monuments</a>
    <br>
    <input id="naturalMonuments" class="naturalMonuments" checked="checked" type="checkbox" name="naturalMonuments" value="Yes"><a href="/islandmap/naturalmonuments">Natural Monuments</a>
    <br>
    <input id="hotels" class="hotels" checked="checked" type="checkbox" name="hotels" value="Yes"><a href="/islandmap/accommodations">Accommodations</a>
    <br>
    <input id="food" class="food" checked="checked" type="checkbox" name="food" value="Yes"><a href="/islandmap/restaurants">Restaurants</a>
    <br>
  </form>


</template>