<template name="islandMap">

  MAP

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <h3>My Google Maps Demo</h3>

  {{> filter}}

    <div id="map"></div>

<div id="mapDisplay">
  <script>
    {{markers}}
  </script>

</div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFesdr-q5keaEXasmMOJCphcrucwBWYH8&callback=initMap">
    </script>


</template>

<template name="filter">
  <form action="">
    <input class="allChecked" type="checkbox" name="allChecked" value="Yes">Uncheck all<br>
    <input class="historicMonuments" checked="checked" type="checkbox" name="historicMonuments" value="Yes">Historic Monuments<br>
    <input type="checkbox" name="vehicle" value="Car">I have a car
  </form>
</template>
