<template name="listPlaces">
    {{>header}}
<p>List of Places</p>
    {{# each placesList}}
    <p>
        <label >{{> placeText}} {{>showStars}} </label>
    </p>
    {{/each}}
</template>

<template name="showStars">
    
    <span class="rating" rating="{{averageScore}}">
            <span class="star "></span>
            <span class="star "></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            </span>
</template>

<template name="placeText">
<h4 href="#" id="{{_id}}" class="render">{{name}}</h4>
</template>