<template class="container body" name="landingpage">

<a type="button" class="portuguese">
  <img src="http://localhost:3000/PT.png" />
</a>



<a type="button" class="english">
 <img src="http://localhost:3000/EN.png"  />
</a>


</template>

<template class="container" name="login">

<!--div class="fb-login-button" data-size="large" data-scope="public_profile,email">Facebook Login</div-->
<button type="button" class="facebookLogin">Facebook Login</button>

{{checkFaceStatus}}

  <form>

{{#if language}}
  <p>
      Email
  </p>
    <input type="email"  name="loginEmail" placeholder="insira o seu email">
    <p>
        Palavra Passe
    </p>
      <p>
        <input type="password" name="loginPassword" placeholder="insira a password">
      </p>
      <p>
        <input href ="#" type="submit" value="Entrar">
      </p>
      <p>
        <a href="/register">Inscrever</a>
      </p>


  {{else}}
  <p>
    Email
  </p>
      <input type="email"  name="loginEmail" placeholder="insert your email">
        <p>
          <p>
            Password
          </p>
          <input type="password" name="loginPassword" placeholder="insert your password">
        </p>
        <p>
          <input href ="#" type="submit" value="Login">
        </p>
        <p>
          <a href="/register">Sign In</a>
        </p>

    {{/if}}

      </form>

    {{> flashMessages}}


</template>
