<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="main.css">


</head>


<template class="body" name="landingpage">


  <div class="col-xs-6 col-centered">
    <a type="button" class="portuguese">
      <img src="http://localhost:3000/PT-Lg_icon.png" alt="Portuguese" width="50" height="50" />
    </a>

    <a type="button" class="english">
      <img src="http://localhost:3000/EN-Lg_icon.png" alt="English" width="50" height="50" />
    </a>
  </div>



  <div class="row">
    <p>Welcome to the page where you can get advise about where to </p>
  </div>

</template>



<template class="container" name="login">
  <div class="container centeredLogin">
    <div class="vertical-center">

      <button type="button" class="facebookLogin">Facebook Login</button>

      <form>

        <p>

          {{language.emailLabel}}
        </p>
        <input type="email" name="loginEmail" placeholder="{{language.email}}">
        <p>
          {{language.passwordLabel}}
        </p>
        <p>
          <input type="password" name="loginPassword" placeholder="{{language.password}}">
        </p>
        <p>
          <input href="#" type="submit" value="{{language.login}}">
        </p>
        <p>
          <a href="/register">{{language.signIn}}</a>
        </p>


      </form>

      {{> flashMessages}}

    </div>
  </div>
</template>