<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="main.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>


<template class="body" name="landingpage">

  <div class="parallax-container">
    <div class="parallax">
      <img src="http://localhost:3000/back.jpg">
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Welcome to Cow Advisor</h2>
      <p class="grey-text text-darken-3 lighten-3">Cow Adivor onde a informação é preto no branco.</p>

    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="http://localhost:3000/back.jpg">
    </div>
    <div class="col-xs-6 col-centered">
      <a type="button" class="portuguese">
        <img src="http://localhost:3000/PT-Lg_icon.png" alt="Portuguese" width="60" height="60" />
      </a>
    </div>

    <div class="col-xs-6 push-to-bottom">
      <a type="button" class="english">
        <img src="http://localhost:3000/EN-Lg_icon.png" alt="English" width="60" height="60" />
      </a>
    </div>
  </div>


  <div class="row">

  </div>

</template>



<template class="container" name="login">
  <div class="container centeredLogin">
    <div class="vertical-center">

      <button type="button" class="facebookLogin">Facebook Login</button>

      <form>

        <p>

          {{language.emailLabel}}
        </p>
        <input type="email" name="loginEmail" placeholder="{{language.email}}">
        <p>
          {{language.passwordLabel}}
        </p>
        <p>
          <input type="password" name="loginPassword" placeholder="{{language.password}}">
        </p>
        <p>
          <input href="#" type="submit" value="{{language.login}}">
        </p>
        <p>
          <a href="/register">{{language.signIn}}</a>
        </p>


      </form>

      {{> flashMessages}}

    </div>
  </div>
</template>
