<template name="register">
  <div class="container centeredLogin">
    <div class="vertical-center">

      <form class="add-user">
  
        <p>
          Email
        </p>
        <p>
          <input type="email" name="registerEmail" style="background-color: #cacdd3;" placeholder="{{language.email}}">
        </p>
        <p>
          Display name
        </p>
        <p>
          <input type="text" name="registerDisplayName" style="background-color: #cacdd3;" placeholder="{{language.displayName}}">
        </p>
        <p>
          Password
        </p>
        <p>
          <input type="password" name="registerPassword" style="background-color: #cacdd3;" placeholder="{{language.password}}">
        </p>
        <p>
          Retype Password
        </p>
        <p>
          <input type="password" name="repeatPassword" style="background-color: #cacdd3;" placeholder="{{language.repeatPassword}}">
        </p>
        <p>
          <input href="/login" type="submit" class="register-button" value="{{language.createCount}}">
        </p>
        <p>
          <a type="button" style="color: inherit;" class="back">{{language.back}}</a>
        </p>


      </form>

      {{> flashMessages}}

    </div>
  </div>
</template>