<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="main.css">

</head>



<template name="renderpage">



  <div style="display:inline" class="row">
    <div id="flags" class="col-xs-3">
      {{> header}}
    </div>
    <div class="col-xs-3">
      {{> visited}}
    </div>
    <div class="col-xs-3">
      {{> rating}}
    </div>


  </div>

  <div class="col-3 .text-truncate">
    <div class="container" style="background-color:white; border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">
      <span>{{> title}}</span>
    </div>
  </div>

  <div class="col-3 .text-truncate">
    <div class="container" style="background-color:white; border-radius: 10px; margin-bottom: 4%; margin-left: 3%; margin-right: 3%">


    </div>
  </div>

  {{> description}} 
  
  {{> images}}

  <br/>

  {{> commentSection}}

</template>

<template name="title">
  <p></p>

  {{title}}
</template>

<template name="description">
  <p></p>

  {{description}}
</template>

<template name="checked">
  {{#if checkbox}}
  
  {{/if}}
</template>

<template name="images">
  <div id="row">
    <div class="col-md-6">
  <img class="img-responsive img-center" src={{images.image_1}} />
</div>
<div class="col-md-6">
  <img class="img-responsive img-center" src={{images.image_2}} />
</div>
</div>
</template>

<template name="rating">

  {{#if showStars}}

  <fieldset class="rating">
    <input type="radio" id="star5" class="rate" name="rating" value="5" />
    <label class="full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" class="rate" name="rating" value="4.5" />
    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" class="rate" name="rating" value="4" />
    <label class="full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" class="rate" name="rating" value="3.5" />
    <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" class="rate" name="rating" value="3" />
    <label class="full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" class="rate" name="rating" value="2.5" />
    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" class="rate" name="rating" value="2" />
    <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" class="rate" name="rating" value="1.5" />
    <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" class="rate" name="rating" value="1" />
    <label class="full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" class="rate" name="rating" value="0.5" />
    <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
  </fieldset>

  {{/if}}

  <br/>

</template>

<template name="visited">

  {{#if hideCheckbox}} 
  <img src="http://localhost:3000/visited.png" /> 
  {{else}}
  <form id="hideCheckbox" action="">
    <input id="visitedPlace" class="visitedPlace" type="checkbox" name="visitedPlace" value="Yes">Mark as visited
    <br>
  </form>
  {{/if}}




</template>

<template name="commentSection">
    <form class="addComment">
        <p>    
          <input type="text" name="userComment">
        </p> 
        <p>
          <input href="#" type="submit" value="Submit">
        </p>
      </form>

      <table>
        <tr>
          <th>Comments</th>
        </tr>
        {{#each showPlaceComments}}
        <tr>
        <td>
          {{this}}
        </td>
      </tr>
        {{/each}}
      </table>
</template>